.showcase_container {
  background-color: #000;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}





/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 1500px) {

  .showcase_container {
    background-color: #000;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    gap: 120px;
  }
  
  .showcase_inner{
    max-width: 550px;
    width: 60%;
    margin-left: 2%;
    padding-left: 60px;
    padding-top: 15%;
  }
  .showcase_inner2{
    width: 30%;
  }
  .button{
    display: flex;
  }
  .thisyear_image{
    top: 2%;
    width: 45%;
    z-index: 1;
  }
  
  .showcase_span{
    color: #FFBF5D;
    font-size: 55px;
    font-family: Abhaya Libre ExtraBold;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 90.78px;
  
  }
  
  
  .showcase_span4{
   color: #fff;
   font-size: 25px;
   font-family: Abhaya Libre ExtraBold;
   font-weight: 400px;
   max-width: 400px;
   word-wrap: break-word;
   line-height: 29.55px;
   word-spacing: 2px;
   
  }
  
  .showcase_span4:hover{
    color: #ffff;
  }
  .showcase_vector{
    width: 35% !important;
    height: 35% !important;
    margin-left: 400px;
  }
  .showcase_link {
    text-decoration: none;
    color: #000; /* Set the desired text color */
  }
  
  .showcase_link:hover {
    background: linear-gradient(90.13deg, #0DE0F3 0.2%, #109EF3 18.17%, #536AAF 40.92%, #536AAF 56.6%, #8460E0 76.25%, #512555 94.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    text-decoration: underline;
    /* Add any additional styles for hover state if needed */
  }
  
  .showcase_link{
    cursor: pointer;
    color: #fff;
    text-align: center;
    
  
  }
  .showcase_icon{
    width: 100% !important;
    line-height: 30px;
  }
  
  .showcase_button {
    position: relative;
    margin-top: 40px;
    height: 40px;
    padding: 0px 29px 0px 29px;
    align-items: center;
    text-decoration: none;
    font-family:  Abhaya Libre ExtraBold;
    font-weight: 800px;
    font-size: 19px;
    list-style: none;
    border-radius: 10px;
    background: rgb(214,160,78);
    background: linear-gradient(180deg, rgba(255,191,93,1) 19%, rgba(38,46,48,1) 100%);  font-size: 18px;
  }
  
  .showcase_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90.13deg, #0DE0F3 0.2%, #109EF3 18.17%, #536AAF 40.92%, #536AAF 56.6%, #8460E0 76.25%, #512555 94.73%);
    z-index: -1;
    -webkit-mask-image: linear-gradient(white, white);
    mask-image: linear-gradient(white, white);
  }
  
  .showcase_button:hover{
    
    position: relative;
    margin-top: 20px;
    height: 40px;
    padding: 0px 29px 0px 29px;
    align-items: center;
    text-decoration: none;
    font-family:  Abhaya Libre ExtraBold;
    font-weight: 800px;
    font-size: 19px;
    list-style: none;
    color: white;
    border-radius: 10px;
    background: rgb(214,160,78);
    background: linear-gradient(180deg, rgba(255,191,93,1) 19%, rgba(38,46,48,1) 100%);  font-size: 18px;
  }
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  .showcase_container{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column; /* Align items vertically */
  }
  .thisyear_image{
    top: 45%;
    width: 50%;
    margin: 0 auto;
  }
  .showcase_inner{
    max-width: 550px;
    padding-top: 30%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  .showcase_inner2{
   
  }
  
  .showcase_span{
    font-family: Abhaya Libre ExtraBold;
font-size: 50px;
font-weight: 800;
line-height: 44px;
letter-spacing: 0.07em;
text-align: center;  
justify-content: center;
}
.showcase_span4{
  color: #fff;
  font-family: ABeeZee;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.07em;
text-align: center;
  margin-top: 10%;
  
 }
  
  

  
  .showcase_button {
    position: relative;
    margin-top: 20px;
    height: 40px;
    width: 180px;
    align-items: center;
    text-decoration: none;
    list-style: none;
    background: #fdbf62;
    font-size: 18px;
  }
  
  .showcase_button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90.13deg, #0DE0F3 0.2%, #109EF3 18.17%, #536AAF 40.92%, #536AAF 56.6%, #8460E0 76.25%, #512555 94.73%);
    z-index: -1;
    -webkit-mask-image: linear-gradient(white, white);
    mask-image: linear-gradient(white, white);
  }
  
  .showcase_button:hover{
    background: linear-gradient(90.13deg, #0DE0F3 0.2%, #109EF3 18.17%, #536AAF 40.92%, #536AAF 56.6%, #8460E0 76.25%, #512555 94.73%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 18px;
    text-decoration: underline;
  }
}