.navbar_container {
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 10;
}
.navbar_inner {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 80px;
}
.navbar_button{
  background: #f3b55b;
  width: 130px;
  color: black;
  font-size: 20px;
}
.navbar_button:hover{
  color: #512555;
  text-decoration: underline;
}
.navbar_ul {
  margin-left: 20%;
  display: flex;
  float: right;
}
.active a{
  color: var(--white);
}
.navbar_ul a {
  font: ABeeZee;
  text-decoration: none;
  font-family: var(--font);
  font-size: 15px;
  color: #f3b55b;
  float: right;
  font-weight: 400;
  margin-right: 30px;
  transition: 0.5s ease;
  text-align: center;
}
.navbar_ul a:hover {
  color: var(--lightblue);
}

.navbar_hamburger {
  display: none;
  width: 30px !important;
}
.logo{
  width: 20%;
}

/* The side navigation menu */
.sidenav {
  height: 100vh; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 15; /* Stay on top */
  top: 0; /* Stay at the top */
  bottom: 0;
  left: 0;
  background-color: #FEF6DF; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s;
  display: flex;
  opacity: 0;
  visibility: hidden;
}

.sidenav_inner {
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding-top: 30px;
  padding-left: 40px;
}

.sidenav_show {
  visibility: visible;
  opacity: 1;
}
/* The navigation menu links */
.sidenav a {
  
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
  font-family: var(--font);
  font-weight: 500;
}

.sidenav_inner a {
  padding: 0px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  /* margin: 25px 0px; */
  color: black;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--darkblue);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar_button {
  padding: 10px 20px !important;
  font-size: 16px !important;
  background: linear-gradient(90.13deg, #0DE0F3 0.2%, #109EF3 18.17%, #536AAF 40.92%, #536AAF 56.6%, #8460E0 76.25%, #512555 94.73%);
  width: 180px;
  color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 1050px) {
  .navbar_button {
    display: none;
  }
  .navbar_hamburger {
    display: block;
  }
  .navbar_ul a {
    display: none;
  }
  .navbar_inner img {
    width: 180px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

