.story_container {
  height: 100%;
  background: #171c1c;
  width: 100%;
  text-align: center;
}
.story_inner {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  margin-left: 5%;
}
.story_disperse{
  background: -webkit-linear-gradient(90.13deg, #0DE0F3 0.2%, #109EF3 18.17%, #536AAF 40.92%, #536AAF 56.6%, #8460E0 76.25%, #512555 94.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.story_item_image{
  display: flex;
  margin: 0 auto;
  margin-top: 20%;
 
  max-width: 50%;
  max-height: 500%;
  left: 45%;
}
.texxt{
  background: -webkit-linear-gradient(90.13deg, #0DE0F3 0.2%, #109EF3 18.17%, #536AAF 40.92%, #536AAF 56.6%, #8460E0 76.25%, #512555 94.73%);
  /* font-size: 91.27px; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.story_details{
  margin-top: 5%;
  text-align: left;
}
.story_item_image2{
  margin-top: -20%;
  max-width: 50%;
  display: flex;
  position: absolute;
  justify-content: center;
  left: 30%;
}
.story_item_image3{
  display: flex;
  margin-top: -10%;
 
  max-width: 20%;
  left: 80%;
}
.story_item_texts {
  margin-top: 5%;
  text-align: left;
}
.story_h1{
background: linear-gradient(90deg, #0DE0F3 2.46%, #109EF3 27.7%, #536AAF 51.33%, #536AAF 74.96%, #7766E2 74.97%, #8460E0 88.92%, #512555 101.28%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Montserrat;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: 73px;
}
.story_item_texts p {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
  margin: 2px 0px;
  color: #fff;
  max-width: 600px;
}
.story_item_texts h3{
  font-family: var(--font);
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0px;
  color: #fff;
}
.story_icon {
  position: absolute;
  right: 45%;
  width: 200px;
}
.story_icon2 {
  position: absolute;
  top: -100px;
  right: 42%;
  width: 200px;
}
.story_icon_2 {
  top: -100px;
}
@media screen and (min-width: 1025px){
  .story_iconmobile2{
    display: none;
  }
  .story_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
  }
  
}
@media screen and (max-width: 999px) {
  .story_inner > h1 {
    font-size: 25px;
    padding-top: 130px;
  }
  
  .story_item {
    flex-direction: column;
    margin-top: 60px;
  }
  .story_item_responsive {
    flex-direction: column-reverse !important;
  }
  .story_item_image,
  .story_item_texts {
    width: 95% !important;
    justify-content: center;
  }
  .story_item_image {
    
    object-position: center;
    object-fit: cover;
  }
  .story_icon {
    display: none;
  }
  .story_icon2 {
    display: none;
  }
  .story_iconmobile{
    margin-top: -10px;
  }
  .story_iconmobile2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  z-index: -1;

  }
}
@media screen and (max-width: 600px) {
  .story_item {
    gap: 20px;
  }

  .story_item_image_responsive {
    min-height: 413px !important;
  }

  .story_item_image,
  .story_item_texts {
    width: 100% !important;
  }

  .story_item_image {
    height: auto;
  }

  .story_item_texts {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .story_inner > h1 {
    font-size: 20px;
    padding-top: 40px;
  }
  .story_item_texts p {
    color: var(--black);
    text-align: justify;
    font-family: var(--font);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin: 10px 0px;
  }

}
