.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFBF62;
  padding: 30px 0px;
  display: flex;
  flex-direction: column; /* or row, depending on your design */
  align-items: center; 
}
/* styles.module.css */

.join{
  color: black;
  font-family: Abhaya Libre ExtraBold;
  font-size: 25px;
  font-weight: 800;
  line-height: 53px;
  letter-spacing: 0.07em;
  text-align: center;
  text-transform: capitalize;
}

.showcase_button{
  background-color: #000;
  color: #FFBF62;
  padding: 30%;
  width: 130px;
  border-radius: 30px; /* Set border radius to 30px */
  height: 40px;
  font-family: ABeeZee;
font-size: 20px;
font-weight: 400;
text-align: center;

}
.footer_buttons {
  display: flex;
  justify-content: space-between; /* Add spacing between buttons */
  gap: 10px;
}


@media screen and (max-width: 999px) {
  .footer_inner_left img {
    width: 130px;
    text-align: center;
  }

  .footer_inner p {
    font-size: 8px;
  }
  .footer_inner_right_flex {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
 
  .footer_bottom {
    height: 40px;
    width: 100%;
    font-size: 8px;
  }
 
}
@media screen and (max-width: 600px) {
  /* .footer_inner {
    align-items: flex-start;
  }

  .footer_res_addition {
    display: block;
  } */
  
  .footer_res_removal {
    display: none;
  }
  .footer_inner_left {
    height: 100% !important;
  }
  .footer_inner_left img {
    /* margin-bottom: 40px; */
  }
  .footer_inner p {
    padding-left: 0px;
  }
}